.container{
    text-align: center;
    margin-top: 20px;
}
.container img{
    width: 300px;
}
.container nav{
    background-color: black;
    padding: 20px 0px;
    text-align: left;
    margin-top: 20px;
}
.container nav a{
    text-decoration: none;
    margin-right: 35px;
    color: white;
    padding: 15px 20px;
    border-radius: 3px;
}
.container nav a:hover{
    background-color: rgb(105, 103, 104);
}